
	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
			
			
			<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">Sign Up</h6>
							<div class="speci-login first-look">
								<img src="../../assets/images/user.png" alt="" class="img-responsive">
							</div>
						</div>
						<div class="bottom-content">
							<form action="#" method="post">
								<input type="text" name="displayname" class="input-form" placeholder="username"
                                        required="required" #displaname/>
                                        <input type="email" name="username"  class="input-form" placeholder="user Email"
										required="required" #userEmail />
								<input type="password"  class="input-form"
										placeholder="Your Password" required="required" #userPwd />
								<button type="button" class="loginhny-btn btn" value="SignUp" (click)="authservice.SignUp(userEmail.value, userPwd.value)" >Sign Up</button>
							</form>
						<p>Already registered ?<a href="#" routerLink="">Login</a> </p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- //login-section -->